{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{#    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">#}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@8.0.0/dist/column_filter.min.css">#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="module">
      // https://datatables.net/extensions/searchpanes/examples/customisation/verticalPanes.html
        import DataTables from "https://cdn.jsdelivr.net/npm/datatables.net-bs5@1.13.7/+esm";
            // "datatables.net-select": "https://cdn.jsdelivr.net/npm/datatables.net-select@1.7.0/+esm",
            // "datatables.net-select-bs5": "https://cdn.jsdelivr.net/npm/datatables.net-select-bs5@1.7.0/+esm"

        let table = new DataTables('#crawler-table');

        var table = $('#crawler-table').DataTable({
          searchPanes: {
            layout: 'columns-1'
          },
          dom: '<"dtsp-dataTable"frtip>',
          pageLength: 20
        });
        table.searchPanes()
        $("div.dtsp-verticalPanes").append(table.searchPanes.container());
    </script>
{% endblock %}
{% block body %}

    {{ crawlerConfig|json_encode }}

    {# if we have grid bundle installed, this would be very easy.  But we don't want to require it. we could put the table utility in core, though #}
  <table id="crawler-table">
    <thead>
    <tr>
      <th>User</th>
      <th>URL</th>
      <th>Found On</th>
      <th>route</th>
    </tr>
    </thead>
    <tbody>
    {% for d in tableData %}
      <tr>
        <td>{{ d.user }}</td>
        <td><a href="{{ d.path }}">{{ d.path }}</a></td>
        <td><a href="{{ d.foundOn }}">{{ d.foundOn }}</a></td>
        <td>{{ d.route }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% endblock %}

{% block oldWay %}
    {% for header, data in crawldata %}
{#        {{ loop.index == 1 ? dump(data) }}#}
        <h3>{{ header }}</h3>
        <table id="crawler-table" class="simple-datatables">
            <thead>
            <tr>
                <th>URL</th>
                <th>Found On</th>
                <th>route</th>
            </tr>
            </thead>
            <tbody>
            {% for d in data %}
                <tr>
                    <td><a href="{{ d.path }}">{{ d.path }}</a></td>
                    <td><a href="{{ d.foundOn }}">{{ d.foundOn }}</a></td>
                    <td>{{ d.route }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{#    {% for header, data in crawldata %}#}
{#        <h3>{{ header }}</h3>#}
{#        <div class="row">#}
{#            {% component grid with {#}
{#                data: data,#}
{#                caller: _self,#}
{#                columns: [#}
{#                    {name: 'path'},#}
{#                    'route',#}
{#                    'statusCode',#}
{#                    'rp'#}
{#                ]#}
{#            } %}#}
{#                {% block path %}#}
{#                    {{ row.path }}#}
{#                {% endblock %}#}
{#                {% block rp %}#}
{#                    {{ row.rp|json_encode }}#}
{#                {% endblock %}#}


{#            {% endcomponent %}#}
{#        </div>#}
{#    {% endfor %}#}


{% endblock %}
